<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 600, crop: :fill %>')">
    <h1><%= @list.name %></h1>
  </div>

  <div class="movie-cards-container">
    <div class="movie-cards">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="movie-card">
          <img src=<%= "https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}" %> width="300" height="100"/>
          <div class="movie-card-info">
            <div class="title-rating">
              <h2><%= bookmark.movie.title %></h2>
              <p><%= bookmark.movie.rating %><i class="material-icons mr-1 inline-icon">star_outline</i></p>
            </div>
            <div>
              <p class="overview"><%= bookmark.movie.overview %></p>
            </div>
          </div>
          <div class="movie-card-footer">
            <div class="movie-card-comment">
              <p><i class="material-icons mr-1">format_quote</i><%= bookmark.comment %></p>
            </div>
            <div class="movie-card-delete">
              <%= link_to "Delete", bookmark_path(bookmark.id), class: "btn btn-ghost", method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <div class="new_bookmark">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.submit ("Add bookmark to list") %>
        <% end %>
    </div>

    <%= link_to "home", lists_path %>
</div>
